*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

header {
  margin: auto;
  background-color: blue;
  width: 70%;
  height: 500px;
}
.top-header {
  height: 140px;
  }
.up-top-header {
  height: 70px;
  background-color: white;
  }
.down-top-header {
  height: 50%;
  background-color: lightblue;
}
.left-up-top-header {
  width: 50%;
  line-height: 70px;
  height: 70px;
  float: left;

}
.right-up-top-header {
  width: 50%;
  line-height: 70px;
  height: 70px;

}
.up-top-header li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}
.left-up-top-header {
  color:rgb(24, 51, 150);
}
.left-up-top-header i {
  padding-right: 10px;
}
.up-top-header ul li a {
  text-decoration: none;
  /* color:rgb(24, 51, 150); */
}

.left-up-top-header ul li a:first-child {
  display: inline-block;
  border-left: 2px solid grey;
  line-height: 30px;
  padding-left: 15px;
}
.right-up-top-header {
  float: right;
  text-align: right;
}
.right-up-top-header {

}
a.login {
  color: pink;
border: 2px solid pink;
padding: 10px;
border-radius: 5px;
}
a.get-hub-spotfree {
  color: white;
  background-color: pink;
  border: 2px solid pink;
  padding: 10px;
  border-radius: 5px;
}
.fas {
  color: skyblue;
}



.top-header:after {
  content: "";
  display: table;
  clear: both;
}

/* .left-up-top-header::after {
  content: "";
  display: table;
  clear: both;
} */
