*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Alata', sans-serif;
}
header {
  width: 100%;
  height: 1500px;
  margin: auto;
  background-image: url(../img/jumbotron.png);
  background-size:cover ;
  background-repeat: no-repeat;
  background-position:  100% 80%;
}
.top-header {
  height: 200px;
  width: 100%;
  margin: auto;
}
.up-top-header {
  width: 50%;
  margin: auto;
  height: 100px;
  background-color: white;
  font-size:25px;
}
.down-top-header {
  width: 50%;
  margin: auto;
  height: 100px;
  background-color: white;
}
.left-up-top-header {
  width: 50%;
  line-height: 100px;
  height: 100px;
  float: left;
}
.right-up-top-header {
  width: 50%;
  line-height: 100px;
  height: 100px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.up-top-header li {
  display: inline-block;
  padding-right: 20px;
}
.left-up-top-header {
  color:rgb(45, 62, 80);
}
.left-up-top-header i {
  padding-right: 10px;
}
hr {
  margin: auto;
  width: 100%;
  border-top: 1px solid grey;
}

.left-up-top-header ul li a:first-child {
  display: inline-block;
  border-left: 2px solid grey;
  line-height: 30px;
  padding-left: 15px;
}
.right-up-top-header {
  float: right;
  text-align: right;
}
.right-up-top-header:after {
  content: "";
  display: table;
  clear: both;
}
a.login {
  color: pink;
  border: 2px solid #ff7a59;
  padding: 10px;
  border-radius: 5px;
}
a.get-hub-spotfree {
  color: white;
  background-color: #ff7a59;
  border: 2px solid #ff7a59;
  padding: 10px;
  border-radius: 5px;
}
a.get-hub-spotfree:hover {
  background-color: #f7a896;
}
.fas {
  color: skyblue;
}
.top-header:after {
  content: "";
  display: table;
  clear: both;
}
.left-down-top-header{
  width: 30%;
  height: 100px;
  line-height:130px;
  float: left;
}
.left-down-top-header:after {
  content: "";
  display: table;
  clear: both;
}
.logo {
  width: 150px;
}
.right-down-top-header {
  width: 70%;
  height:100px;
  line-height: 100px;
  float: right;
  text-align: right;
}
.right-down-top-header:after {
  content: "";
  display: table;
  clear: both;
}
.right-down-top-header li {
  display: inline-block;
  padding-left: 40px;
  font-size: 25px;
}
.fas.fa-caret-down {
  color: lightblue;
  padding-left: 10px;
}
.bottom-header {
  margin: 5px auto;
  width: 50%;
  height: 2000px;
}
.testo-principale {
  padding-top: 80px;
  width: 600px;
  font-size: 40px;
  color: rgb(45, 62, 80);
  }

.testo-principale p {
  color: rgb(45, 62, 80);
  margin: 30px 0;
  line-height: 35px;
  font-size: 25px;
}
.testo-principale a.get-hub-spotfree {
  padding: 30px;
  font-size: 30px;
}
#free-tools {
  padding-top: 40px;
  font-size: 20px;
  line-height: 20px;
}
/* INIZIO MAIN */
.top-main {
  width: 50%;
  margin: auto;
}
.primo-quadrante {
  width: 100%;
  text-align: center;
}
.cubo {
  width: 500px;
}
.powerful {
  font-size: 50px;
  padding: 20px;
  color: rgb(45, 62, 80);
}
.description {
  font-size: 30px;
}
.secondo-quadrante {
  height:500px;
  width: 100%;
  text-align: center;
}
.secondo-quadrante .parte-sinistra {
  height:500px;
  width: 20%;
  float: left;
  margin-left: 50px;
}
.secondo-quadrante .parte-sinistra::after{
  content: "";
  display: table;
  clear: both;
}
.secondo-quadrante .parte-destra {
  width: 65%;
  float: right;
  text-align: left;
}
.crm {
  width: 300px;
}
.crm::after {
  content: "";
  display: table;
  clear: both;
}
a.get-hub-spotfree.learn-more {
  font-size: 30px;
  padding: 20px;
  display: inline-block;
  margin-top: 20px;
}
.free {
  margin: 50px 0;
  font-size: 50px;
  color: rgb(45, 62, 80);
}
.free.service {
  margin:30px 0;
}
.description {
  font-size: 25px;
  color: rgb(45, 62, 80);

}
.allineamento {
  vertical-align: middle;
  position: relative;
}
.popular {
  margin: 50px 0;
  font-size: 30px;
  color: rgb(45, 62, 80);
  display: inline-block;
}
.hr-parte-destra {
  height: 5px;
  width: 50%;
  position: absolute;
  top:50%;
  left :50%;
  transform: translate(-20%, -50%);
}
.check-circle li{
  color: rgb(45, 62, 80);
  display: inline-block;
  padding-right: 20px;
  font-size: 25px;
}
.fas.fa-check-circle {
  padding-right: 10px;
  color: #ff7a59;
}
.terzo-quadrante {
  width: 100%;
  height: 1000px;
}
.photo {
  float: left;
}
.photo:after {
  content: "";
  display: table;
  clear: both;
}
.top-part {
  height: 500px;
}
.col-left{
  width: 28%;
  text-align: center;
}
.col-center{
 margin: 0 8%;
 width: 28%;
 text-align: center;
 line-height: 33px;
}
.col-right{
 width: 28%;
 text-align: center;
}
.terzo-quadrante hr {
  width: 80%;
  margin: 100px auto 0;
}
.col-left.popular {
  margin-top: 20px 0;
}
.lista-col-left {
  text-align: left;
  position: relative;
  }
.popular-list{
  font-size: 30px;
  color:rgb(45, 62, 80);
}
.popular-list.fas.fa-check-circle{
  padding: 10px;
}
.lista-col-left a.get-hub-spotfree {
position: absolute;
top: 100%;
left:50%;
transform: translate(-50%,0);
}
.img-saleshub,
.img-marketing,
.img-serviceshub {
  width: 300px;
}
.quarto-quadrante {
  margin: 50px 0;
  width: 100%;
  height: 1200px;
  background-color: #00B4AD;
  position: relative;
}
.testo-quarto-quadrante {
  margin: 100px auto;
  width: 40%;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 15%;
  left:50%;
  transform: translate(-50%, -50%);

}
.table {
  margin: 100px 0;
}
h2 {
  font-size: 50px;
  color: white;
}
p {
  color: white;
  font-size: 20px;
  margin: 20px 0;
  line-height: 30px;
}
table {
  height: 500px;
  width: 45%;
  margin:auto;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
td {
  width: 25%;
  text-align: center;
}

.far.fa-handshake {
  font-size: 70px;
  margin-bottom: 7px;
}
.plus {
 font-size: 30px;
}
.hubspot-blog {
  width: 115px;
  margin-bottom: 15px;
}
.hubspot-academy {
  width: 200px;
  margin-bottom: 15px;
}
.inbound,
.hubspot-connect  {
  width: 150px;
  margin-bottom: 15px;
}
.fas.fa-globe-europe {
  color: white;
  font-size: 55px;
  margin-bottom: 25px;
}
.hubspot-hands,
.icon-message {
  width: 60px;
  margin-bottom: 15px;
}
.growth-us {
  width: 150px;
  margin-bottom: 35px;
}
#first-cell,
#second-cell,
#third-cell {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
#fourth-cell {
  border-bottom: 2px solid white;
}
#first2-cell,
#second2-cell,
#third2-cell {
  border-right: 2px solid white;
}
.quinto-quadrante {
  height:1000px;
  width: 50%;
  margin:100px auto;
}
.text-up-left {
  width: 30%;
  height: 100%;
  float: left;
}
.logo-up-right {
  width: 70%;
  height: 100%;
  float: right;
}
.text-up-left:after ,
.logo-up-right:after {
  content: "";
  display: table;
  clear: both;
}
#fascia-top-quinto-quadrante {
  margin: auto;
  width: 80%;
  height: 30%;
}
.h3-quinto-quadrante{
  font-size: 60px;
  color: rgb(45, 62, 80);
  margin-top: 50px;
}
#p-quinto-quadrante {
  font-size: 30px;
  color: rgb(45, 62, 80);
}
.logo-agency {
  width: 20%;
  margin: 24px;
}
.logo-agency.classpass,
.logo-agency.subaru {
  margin-bottom:0;
}
.text-left {
  width: 50%;
  float: left;
}
.photo-right{
  width: 50%;
  float: right;
  height: 600px;
  background-image: url(../img/woman.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.text-left:after ,
.photo-right:after {
  content: "";
  display: table;
  clear: both;
}

.h4-quinto-quadrante {
  font-size: 60px;
  color: rgb(45, 62, 80);
  margin-top: 50px;
}
#p-quinto-quadrante-down {
  color: rgb(45, 62, 80);
  margin: 50px 0;
  font-size: 30px;
}
.button.get-hub-spotfree {
  font-size: 30px;
  padding: 30px;
  display:inline-block;
}
#last-row {
  font-size: 25px;
  margin: 30px 0;
  color: rgb(45, 62, 80);
}
footer {
  width: 100%;
  height: 1300px;
  background-color: #33475B;
}
.corpo-footer {
  margin: auto;
  width: 50%;
  height: 800px;
}
ul.lista-uno,
ul.lista-due,
ul.lista-tre,
ul.lista-quattro {
  color: lightgrey;
  font-size: 25px;
  margin: 100px 0;
  line-height: 50px;
}
ul.lista-uno li:first-child,
ul.lista-due li:first-child,
ul.lista-tre li:first-child,
ul.lista-quattro li:first-child {
  color: white;
}
ul.lista-uno li:not(:first-child):hover,
ul.lista-due li:not(:first-child):hover,
ul.lista-tre li:not(:first-child):hover,
ul.lista-quattro li:not(:first-child):hover {
  color: skyblue;
  cursor:pointer;
}
.colonna-uno {
  width: 25%;
  float: left;
  }
.colonna-due {
  width: 25%;
  float: left;
}
.colonna-tre {
  width: 25%;
  float: left;
}
.colonna-quattro {
  width: 25%;
  float: left;
}
.colonna-uno:after,
.colonna-due:after,
.colonna-tre:after,
.colonna-quattro:after {
  content: "";
  display: table;
  clear: both;
}
.button-contact{
  font-size: 25px;
  color: #33475B;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.container-logo {
  width: 100%;
  height: 100px;

  }
.fab.fa-facebook-f,
.fab.fa-instagram,
.fab.fa-youtube,
.fab.fa-twitter,
.fab.fa-linkedin-in {
  color: grey;
  font-size: 30px;
  margin-top: 15px;
  padding: 20px;
}
.fab.fa-facebook-f {
  padding-left: 0;
}
.fab.fa-facebook-f:hover,
.fab.fa-instagram:hover,
.fab.fa-youtube:hover,
.fab.fa-twitter:hover,
.fab.fa-linkedin-in:hover,
.languages li:hover,
.p-legal:hover,
.p-privacy:hover {
  color: skyblue;
  cursor: pointer;
}
.bottom-footer {
  width: 50%;
  height: 300px;
  margin: auto;
  text-align: center;
}
.languages li {
  color: grey;
  padding: 15px;
  display: inline-block;
  font-size: 30px;
}
.hr-footer{
  margin: auto;
  width: 100%;
  border-top: 1px solid grey;
}
.copyright {
  width: 20%;
  height: 100px;
  text-align: left;
  margin-top: 50px;
  float: left;
}
.last-logo {
  width: 150px;
}
.legal {
  width: 22%;
  height: 100px;
  text-align: left;
  margin-top: 50px;
  float: right;
}
.p-legal,
.p-privacy {
  padding-right: 40px;
  font-size: 30px;
  float: left;
}
.p-privacy {
  padding-right: 0;
}
