*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

header {
  margin: auto;
  background-color: blue;
  width: 70%;
  height: 500px;
}
.top-header {
  height: 140px;
  background-color: yellow;
}
.up-top-header {
  height: 50%;
  background-color: red;
}
.down-top-header {
  height: 50%;
  background-color: lightblue;
}
.left-up-top-header {
  width: 50%;
  background-color: purple;
  height: 100%;

  /* float: left; */
}
.left-up-top-header li {
  list-style: none;
  display: inline-block;

}
.left-up-top-header li a {
  text-decoration: none;
  color:rgb(24, 51, 150);
}
/* .left-up-top-header::after {
  content: "";
  display: table;
  clear: both;
} */
